USE [master]
GO
/****** Object:  Database [db_AgenciaCarros]    Script Date: 3/03/2025 20:26:10 ******/
CREATE DATABASE [db_AgenciaCarros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_AgenciaCarros', FILENAME = N'C:\SQLData\db_AgenciaCarros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_AgenciaCarros_log', FILENAME = N'C:\SQLData\db_AgenciaCarros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_AgenciaCarros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_AgenciaCarros]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClientes](
	[ClienteID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVehiculos]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehiculos](
	[VehiculoID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVentas]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVentas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoID] [int] NULL,
	[ClienteID] [int] NULL,
	[FechaVenta] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_VehiculosA]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	Create view [dbo].[Vw_VehiculosA]
	as
	(
		Select 
		c.Nombre as 'Nombre Cliente',
		c.Apellido as 'Apellido Cliente',
		v.Modelo as 'Vehiculo',
		ve.Monto as 'Precio'
		
		from tblClientes c
				inner join tblVentas ve on c.ClienteID=ve.ClienteID
				inner join tblVehiculos v on v.VehiculoID=ve.VehiculoID
		where ve.Monto >20000
	);
GO
/****** Object:  View [dbo].[Vw_VehiculosC]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	Create view [dbo].[Vw_VehiculosC]
	as
	(
		Select 
		ve.VehiculoID 'ID venta',
		ve.FechaVenta as 'Fecha venta',
		ve.Monto as 'Monto',
		c.Nombre as 'Nombre Cliente',
		c.Apellido as 'Apellido Cliente',
		v.Modelo as 'Modelo',
		v.Marca as 'Marca'

		from tblClientes c
				inner join tblVentas ve on c.ClienteID=ve.ClienteID
				inner join tblVehiculos v on v.VehiculoID=ve.VehiculoID
	);
GO
/****** Object:  View [dbo].[Vw_VehiculosE]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	Create view [dbo].[Vw_VehiculosE]
	as
	(
		Select 
		ve.Monto as 'Monto',
		v.Modelo as 'Modelo',
		v.Marca as 'Marca'

		from tblVehiculos v
				inner join tblVentas ve on v.VehiculoID=ve.VehiculoID
		--Order by v.Modelo asc
	);
GO
/****** Object:  View [dbo].[Vw_VehiculosB]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	Create view [dbo].[Vw_VehiculosB]
	as
	(
		Select 
		c.Nombre as 'Nombre Cliente',
		c.Apellido as 'Apellido Cliente',
		SUM(ve.Monto)as 'Gasto total'

		
		from tblClientes c
				inner join tblVentas ve on c.ClienteID=ve.ClienteID
		Group by c.Nombre,c.Apellido
	);
GO
/****** Object:  View [dbo].[Vw_VehiculosD]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	Create view [dbo].[Vw_VehiculosD]
	as
	(
		Select 
		c.Nombre as 'Nombre Cliente',
		c.Apellido as 'Apellido Cliente',
		COUNT(ve.ClienteID) as 'Cantidad Ventas'

		from tblClientes c
				inner join tblVentas ve on c.ClienteID=ve.ClienteID
		Group by c.Nombre,c.Apellido
		Having COUNT(ve.ClienteID) > 1
	);
GO
SET IDENTITY_INSERT [dbo].[tblClientes] ON 

INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (1, N'Juan', N'Pérez', N'juan.perez@example.com', N'1234567890', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (2, N'María', N'González', N'maria.gonzalez@example.com', N'0987654321', N'Activo')
INSERT [dbo].[tblClientes] ([ClienteID], [Nombre], [Apellido], [Email], [Telefono], [Estado]) VALUES (3, N'Luis', N'Fernández', N'luis.fernandez@example.com', N'2345678901', N'Activo')
SET IDENTITY_INSERT [dbo].[tblClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVehiculos] ON 

INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (1, N'Honda', N'Civic', 2023, CAST(22000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (2, N'Honda', N'Civic', 2019, CAST(22000.00 AS Decimal(18, 2)), N'Disponible')
INSERT [dbo].[tblVehiculos] ([VehiculoID], [Marca], [Modelo], [Año], [Precio], [Estado]) VALUES (3, N'Ford', N'Focus', 2021, CAST(21000.00 AS Decimal(18, 2)), N'Disponible')
SET IDENTITY_INSERT [dbo].[tblVehiculos] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVentas] ON 

INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (1, 1, 1, CAST(N'2023-01-15' AS Date), CAST(20000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (2, 2, 2, CAST(N'2023-01-20' AS Date), CAST(22000.00 AS Decimal(18, 2)))
INSERT [dbo].[tblVentas] ([VentaID], [VehiculoID], [ClienteID], [FechaVenta], [Monto]) VALUES (3, 3, 3, CAST(N'2023-01-25' AS Date), CAST(21000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblVentas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblClien__A9D10534614271D6]    Script Date: 3/03/2025 20:26:10 ******/
ALTER TABLE [dbo].[tblClientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([ClienteID])
REFERENCES [dbo].[tblClientes] ([ClienteID])
GO
ALTER TABLE [dbo].[tblVentas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[tblVehiculos] ([VehiculoID])
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_crear]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Luis Ramirez>
-- Create date: <24-02-2025>
-- Description:	<USP PARA CREAR VEHICULOS>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_crear]
	--Parametros de Entrada XD
	(
	@Marca varchar(50),
	@Modelo varchar(50),
	@Año int,
	@Precio Decimal(18,2),
	@Estado varchar(15)
	)
AS
BEGIN
	SET NOCOUNT ON;
	insert into tblVehiculos(
	Marca,Modelo,Año,Precio,Estado
	)values
	(
	@Marca,
	@Modelo,
	@Año,
	@Precio,
	@Estado
	)
END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_editar]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Luis Ramírez>
-- Create date: <24-02-2025>
-- Description:	<PARA EDITAR>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_editar]
	--Parametros de Entrada XD
	(
	@VehiculoID int,
	@Marca varchar(50),
	@Modelo varchar(50),
	@Año int,
	@Precio Decimal(18,2),
	@Estado varchar(15)
	)

AS
BEGIN
	SET NOCOUNT ON;
	update tblVehiculos
	set Marca=@Marca,
	Modelo=@Modelo,
	Año=@Año,
	Precio=@Precio,
	Estado=@Estado
	Where VehiculoID=@VehiculoID

END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_eliminar]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Luis Ramirez>
-- Create date: <24/02/2025>
-- Description:	<USP PARA ELIMINAR VEHICULOS JSJSJS>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_eliminar]
(
	@VehiculoID int
)
AS
BEGIN

	SET NOCOUNT ON;

		delete tblVehiculos
		where VehiculoID = @VehiculoID
END
GO
/****** Object:  StoredProcedure [dbo].[usp_vehiculos_mostrar]    Script Date: 3/03/2025 20:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<LUIS RAMIREZ>
-- Create date: <2025-02-24>
-- Description:	<Stored procedure para mostrar los vehiculos de la tabla tblvehiculos>
-- =============================================
CREATE PROCEDURE [dbo].[usp_vehiculos_mostrar]
AS
BEGIN

	SET NOCOUNT ON;
	SELECT
	VehiculoID AS 'VehiculoID',
	Marca,
	Modelo,
	Año,
	Precio,
	Estado
	FROM tblVehiculos;
END
GO
USE [master]
GO
